<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="./vue.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./style.css" />
    <title>Techno</title>
  </head>
  <body>
    <div id="app">
      <!-- Header -->
      <header class="header">
        <img class="brand" src="./assets/techno.svg" alt="Techno" />
        <div class="cart">{{cartTotal | formatPrice}} | {{cart.length}}</div>
        <ul>
          <li v-for="(item, index) in cart">
            <p>{{item.nome}}</p>
            <button @click="removeCart(index)">X</button>
          </li>
        </ul>
      </header>
      <!-- Header -->

      <!-- Products -->
      <section class="products">
        <div
          @click="openModal(product.id)"
          v-for="product in products"
          :key="product.id"
          class="product"
        >
          <img :src="product.img" alt="product.nome" class="product-img" />
          <div class="product-info">
            <span class="product-price">{{product.preco | formatPrice}}</span>
            <h2 class="product-title">{{product.nome}}</h2>
          </div>
        </div>
      </section>

      <!-- Products -->

      <!-- Modal Product -->
      <section @click="closeModal" class="modal" v-if="product">
        <div class="modal-container">
          <div class="modal-image">
            <img :src="product.img" alt="product.nome" />
          </div>
          <div class="modal-content">
            <button @click="product = false" class="modal-btn-close">X</button>
            <span class="modal-price">{{product.preco | formatPrice}}</span>
            <h2 class="modal-title">{{product.nome}}</h2>
            <p>{{product.descricao}}</p>
            <button
              v-if="product.estoque > 0"
              @click="addCart"
              class="modal-btn"
            >
              Adicionar Item
            </button>
            <button v-else @click="addCart" class="modal-btn sold-off" disabled>
              Produto Esgotado
            </button>
          </div>
          <div class="reviews">
            <h2 class="reviews-subtitle">Avaliações</h2>
            <ul>
              <li class="review" v-for="review in product.reviews">
                <p class="review-description">{{review.descricao}}</p>
                <p class="review-user">
                  {{review.nome}} | {{review.estrelas}} estrelas
                </p>
              </li>
            </ul>
          </div>
        </div>
      </section>
      <!-- Modal Product -->

      <!-- Alert -->
      <div class="alert" :class="{active: alertActive}">
        <p class="alert-message">{{alertMessage}}</p>
      </div>
      <!-- Alert -->
    </div>
    <script src="./app.js"></script>
  </body>
</html>
